# Node.js dependencies
node_modules
npm-debug.log

# Environment variables
.env
.env.*

# Git and version control
.git
.gitignore

# Logs
logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln 